<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">

    <!--favicon icon-->
    <link rel="icon" type="image/png" href="http://massive.markup.themebucket.net/img/favicon.png">

    <title>Blog Single </title>

    <!--common style-->


<link href="blog-single_data/css.css" rel="stylesheet" type="text/css">
<link href="blog-single_data/bootstrap.css" rel="stylesheet">
    <link href="blog-single_data/font-awesome.css" rel="stylesheet">
    <link href="blog-single_data/magnific-popup.css" rel="stylesheet">
    <link href="blog-single_data/shortcodes.css" rel="stylesheet">
    <link href="blog-single_data/owl.css" rel="stylesheet">
    <link href="blog-single_data/owl_002.css" rel="stylesheet">
    <link href="blog-single_data/style.css" rel="stylesheet">
    <link href="blog-single_data/style-responsive.css" rel="stylesheet">
    <link href="blog-single_data/default-theme.css" rel="stylesheet">

    <link href="blog-single_data/blog.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
<style type="text/css">:root #header + #content > #left > #rlblock_left
{display:none !important;}</style></head>

<body>

    <!--  preloader start -->

<!-- preloader end -->
{% include post_header.html %}


<div class="wrapper">
        <!--page title end-->

        <!--body content start-->
        <section class="body-content ">

            <div class="page-content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <!--classic image post-->
                            <div class="blog-classic">
                                <div class="blog-post">
                                    <div class="full-width">
                                        <img src="blog-single_data/p12.jpg" alt="">
                                    </div>
                                    <ul class="post-meta">
                                        <!-- <li><i class="fa fa-user"></i>posted by <a href="#">admin</a></li> -->
                                        <li><i class="fa fa-folder-open"></i> <a href="#">lifestyle</a>, <a href="#">travel</a>, <a href="#">fashion</a></li>
                                        <!-- <li><i class="fa fa-comments"></i> <a href="#">4 comments</a></li> -->
                                    </ul>



                                    <div class="blog-post">
                                         <p>
                                           {{ content }}
                                         </p>


                                    <div class="inline-block">

                                        <div class="widget-tags">
                                            <h6 class="text-uppercase">Tags </h6>
                                            <a href="">Portfolio</a>
                                            <a href="">Design</a>
                                            <a href="">Link</a>
                                            <a href="">Gallery</a>
                                            <a href="">Video</a>
                                            <a href="">Clean</a>
                                            <a href="">Retina</a>
                                        </div>
                                    </div>

                                    <!-- SHARE POST -->
                                    <!-- <div class="clearfix inline-block m-top-50 m-bot-50">
                                        <h6 class="text-uppercase">Share this Post </h6>
                                        <div class="widget-social-link circle">
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-dribbble"></i></a>
                                            <a href="#"><i class="fa fa-google-plus"></i></a>
                                            <a href="#"><i class="fa fa-behance"></i></a>
                                        </div>
                                    </div> -->
                                    <!-- SHARE POST -->


                                    <div class="pagination-row">

                                        <div class="pagination-post">
                                            <div class="prev-post">
                                                <a href="#">
                                                    <div class="arrow">
                                                        <i class="fa fa-angle-double-left"></i>
                                                    </div>
                                                    <div class="pagination-txt">
                                                        <span>Previous Post</span>
                                                    </div>
                                                </a>
                                            </div>

                                            <div class="post-list-link">
                                                <a href="#">
                                                    <i class="fa fa-home"></i>
                                                </a>
                                            </div>

                                            <div class="next-post">
                                                <a href="#">
                                                    <div class="arrow">
                                                        <i class="fa fa-angle-double-right"></i>
                                                    </div>
                                                    <div class="pagination-txt">
                                                        <span>Next Post</span>
                                                    </div>
                                                </a>
                                            </div>

                                        </div>

                                    </div>

                                        <!-- Comment Item start-->



                                            </div>

                                        </li>
                                        <!-- End Comment Item -->

                                    </ul>

                                    <!--comments discussion section end-->





                                </div>
                            </div>
                            <!--classic image post-->

                        </div>
                        <div class="col-md-4">





                            <!--follow us widget-->
                            <!-- <div class="widget">
                                <div class="heading-title-alt text-left heading-border-bottom">
                                    <h6 class="text-uppercase">follow us</h6>
                                </div>
                                <div class="widget-social-link circle">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-dribbble"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                    <a href="#"><i class="fa fa-behance"></i></a>
                                </div>
                            </div> -->
                            <!--follow us widget-->

                            <!--category widget-->
                            <!-- <div class="widget"> -->
                                <!-- <div class="heading-title-alt text-left heading-border-bottom">
                                    <h6 class="text-uppercase">category</h6>
                                </div>
                                <ul class="widget-category">
                                    <li><a href="#">Animals</a></li>
                                    <li><a href="#">Landscape</a></li>
                                    <li><a href="#">Portrait</a></li>
                                    <li><a href="#">Wild Life</a></li>
                                    <li><a href="#">Video</a></li>
                                </ul>
                            </div> -->
                            <!--category widget-->

                            <!--tags widget-->
                            <!-- <div class="widget">
                                <div class="heading-title-alt text-left heading-border-bottom">
                                    <h6 class="text-uppercase">tag cloud</h6>
                                </div>
                                <div class="widget-tags">
                                    <a href="">Portfolio</a>
                                    <a href="">Design</a>
                                    <a href="">Link</a>
                                    <a href="">Gallery</a>
                                    <a href="">Video</a>
                                    <a href="">Clean</a>
                                    <a href="">Retina</a>
                                </div>
                            </div> -->
                            <!--tags widget-->

                        </div>
                    </div>
                </div>
            </div>


        </section>
        <!--body content end-->



<!-- Placed js at the end of the document so the pages load faster -->
<script src="blog-single_data/jquery-1.js"></script>
<script src="blog-single_data/bootstrap.js"></script>
<script src="blog-single_data/menuzord.js"></script>
<script src="blog-single_data/jquery_003.js"></script>
<script src="blog-single_data/owl.js"></script>
<script src="blog-single_data/jquery_002.js"></script>
<script src="blog-single_data/jquery.js"></script>
<script src="blog-single_data/smooth.js"></script>
<script src="blog-single_data/wow.js"></script>

<script src="blog-single_data/imagesloaded.js"></script>
    <!--common scripts-->
<script src="blog-single_data/scripts.js"></script>



<a id="tb-scroll-to-top" data-scroll="" class="tb-scroll-to-top-show" href="#"><i class="fa fa-angle-up"></i></a>

{% include footer.html %}

</body>


</html>
